.designer{
  background-color: #313239;
  width: 100vw;
  height: 100vh;
  color: white;

  .left{
    background-color: #22242b;
    border-right: 1px solid #0d0e10;
  }

  .screen{
    flex: 1;
    overflow: hidden;
  }

  .setting{
    background-color: white;
  }
}
