@import '../../assets/styles/mixin';

.designer {
  background-color: #e4e4e4;
  width: 100vw;
  padding-top: 1px;
  height: calc(100vh - 61px);
  user-select: none;

  .layer {
    background-color: #f5f5f5;
    @include flex($direction:column);
  }

  .screen {
    flex: 1;
    overflow: hidden;
  }

  .setting {
    background-color: #f5f5f5;
  }
}
